.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  aspect-ratio: 1;
  border: solid;
}

#row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#cell {
  flex: auto;
  border: solid 1px black;
  aspect-ratio: 1;
}